<% layout("/layouts/biolerplate") %>
<body>
  <!-- navbar -->
  <div class="nav-container sticky-top">
    <div class="flex-div left-side-div">
      <a href="/loginHomepage" style="color: white"
        ><span class="material-symbols-outlined" style="">Home</span></a
      >
    </div>

    <div class="flex-div middle-side-div">
      <!-- show only when screen size is <=770px -->
      <div class="hamberger-container" style="visibility: hidden">
        <button
          class="hamberger-btn"
          style="background: none; border: none; color: white"
          ;
        >
          <span
            class="material-symbols-outlined hamberger-icon"
            style="padding: 4px; font-size: 2rem; margin-right: 2rem"
          >
            menu
          </span>
          <span
            class="material-symbols-outlined position-absolute cross-icon"
            style="top: 20%; left: 3%; font-size: 30px; visibility: hidden"
          >
            close
          </span>
        </button>

        <div
          class="position-absolute hamberger-content"
          style="
            visibility: hidden;
            min-width: 20%;
            position: relative;
            left: -200px;
          "
        >
          <div class="p-3">
            <form action="/loginHomepage" method="get">
              <button
                class="carts m-1"
                style="width: 100%; border: none; background-color: transparent"
              >
                Home
              </button>
            </form>

            <form action="/loginHomepage/account">
              <button
                class="carts m-1"
                style="width: 100%; border: none; background-color: transparent"
              >
                Account
              </button>
            </form>

            <!-- <form action="/homepage/signUp/orders">
          <button class="orders m-1" style="width:100%; border:none; background-color: transparent;">Your Orders</button>
        </form>            

        <form action="/homepage/signUp/cart" method="get" >
          <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Cart</button>             
        </form> 

      <form  onsubmit="handleLogout(event)">
        <button class="log-out m-1" style="width:100%; border:none; background-color: transparent; ">Logout</button>
     </form>   -->
          </div>
        </div>
      </div>

      <form action="/homepage/signUp/searchResult" method="post">
        <div class="flex-div input-box">
          <select
            name="selectedCategory"
            id="combo-select"
            onchange="toggleInputField()"
          >
            <option value="">---Search---</option>
            <option value="Mobiles">Mobiles</option>
            <option value="Laptops">Laptops</option>
            <option value="Earbuds">Earbuds</option>
            <option value="Cables">Cables</option>
            <option value="Neckbands">Neckbands</option>
            <option value="Watches">Watches</option>
            <option value="Mouses">Mouses</option>
            <option value="Keyboards">Keyboards</option>
            <option value="Monitors">Monitors</option>
            <option value="Other">Other</option>
          </select>
          <input
            type="text"
            name="customCategory"
            placeholder="Type Model..."
            id="combo-input"
            style="display: none"
          />

          <button class="btn btn-danger search-btn">Search</button>
        </div>
      </form>
    </div>

    <!-- show only when screen size is <=770px -->
    <div
      style="position: absolute; left: 90%; display: none"
      class="small-screen-cart"
    >
      <form action="/homepage/signUp/cart" method="get">
        <button class="cart-btn" style="margin-right: 1rem">
          <span
            class="material-symbols-outlined cart"
            style="margin-left: 0rem; color: white"
            >shopping_cart</span
          >
        </button>
        <% if(cart){%>
        <div class="show-cart-num" style="position: absolute; top: -11px">
          <span><%=cart%></span>
        </div>
        <%}%>
      </form>
    </div>
    <!-- -->

    <div class="flex-div right-side-div">
      <form action="/loginHomepage/account">
        <button
          style="
            border: none;
            background-color: transparent;
            color: white;
            margin-right: 2rem;
            position: relative;
            top: 5px;
          "
        >
          <i class="fa-regular fa-user" style="font-size: 22px"></i>
        </button>
      </form>

      <form action="/homepage/signUp/cart" method="get">
        <button class="cart-btn" style="margin-right: 1rem">
          <span
            class="material-symbols-outlined cart"
            style="
              margin-left: 0rem;
              color: white;
              position: relative;
              top: 5px;
            "
            >shopping_cart</span
          >
        </button>
        <% if(cart){%>
        <div class="show-cart-num"><%=cart%></div>
        <%}%>
      </form>
    </div>
  </div>
  <!-- all item -->

  <div style="max-width: 1200px; margin: 1rem auto;">

    <p style="font-weight: bold; font-size: large">Shopping Cart(<%=cart%>)</p>

    <% for(item of Items.carts){%>

    <!-- container -->
    <a href="/homepage/<%=item._id%>/loginShowInfo" style="text-decoration: none; color:black;">
    <div
      class="item-container"
      style="
        border: 1px solid grey;
        border-radius:8px;
        padding: 1rem;
        margin: 0.5rem;
        background-color: white;
      "
    >
      <!-- image and desription container -->
      
      <div style="display: flex; align-items: center;">
        
        <div style="width: 200px">
          <img src="<%=item.image%>" style="height: 5rem;width:5rem; object-fit: contain;" />
        </div>
      

        <div style="width: 350px">
          <ul class="mb-0">
            <li><%=item.title%></li>
            <li><%=item.description%></li>
            <li><b>&#8377;<%=item.price.toLocaleString("en-IN")%></b></li>
          </ul>
        </div>
      </div>
    

      <!-- delete and buy button container -->
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
        "
      >
        <a
          style="
            border: 1px solid rgb(42, 122, 21);
            color: rgb(42, 122, 21);
            text-decoration: none;
            padding: 0.2rem 0.5rem;
            border-radius: 8px;
            box-shadow: 0 0 5px rgb(42, 122, 21);
            font-size: small;
          "
          href="/homepage/signUp/<%=item.itemID%>/confirmBuy?product=<%= item.title %>"
          ><span style="position:relative; top:2px; font-size: small;" class="material-symbols-outlined">credit_card</span> buy this Now </a
        >
        <form
          style="margin-right: 1rem; margin-top: 0.5rem"
          action="/homepage/<%=Items._id%>/carts/<%=item._id%>?_method=delete"
          method="post"
        >
          <button
            style="
              background-color: white;
              border: none;
              color: rgb(235, 34, 34);
              border: 1px solid rgb(235, 34, 34);
              padding: 0.2rem 0.5rem;
              border-radius: 8px;
              box-shadow: 0 0 5px rgb(235, 34, 34);
              font-size:small;
              position: relative;
              bottom:5px;
            "
          >
            <i class="fa-solid fa-trash-can"></i>
            Remove
          </button>
        </form>
      </div>
    </div>
   </a>
    <%}%>
     <div style="display:flex; justify-content: space-between; align-items:center;padding:1rem; margin:0.5rem; background-color: rgb(245, 245, 245);border-radius:8px;" >
        <p style="color:grey;">Total price:</p>
        <p style="font-weight: bold;"><i> &#8377; <%=totalPrice.toLocaleString("en-IN")%></i></p>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a  style="padding:0.5rem 1rem; background-color: rgb(20, 146, 146);color:white;text-decoration:none;" href="/loginHomepage" >Continue Shopping</a>
    </div>
  </div>
  

  

  <script>
    // hamberger-btn
    const hBtn = document.querySelector(".hamberger-btn");
    const hContent = document.querySelector(".hamberger-content");
    const crossIcon = document.querySelector(".cross-icon");
    const hambergerIcon = document.querySelector(".hamberger-icon");

    hBtn.addEventListener("click", () => {
      if (hContent.style.visibility === "hidden") {
        crossIcon.style.visibility = "visible";
        hambergerIcon.style.visibility = "hidden";
        hContent.style.visibility = "visible";
        hContent.style.left = "0px";
        // hContent.style.opacity=1;
      } else {
        crossIcon.style.visibility = "hidden";
        hambergerIcon.style.visibility = "visible";
        hContent.style.left = "-200px";
        hContent.style.visibility = "hidden";
      }
    });

    // combo search functionality
    function toggleInputField() {
      const comboSelect = document.querySelector("#combo-select");
      const comboInput = document.querySelector("#combo-input");

      if (comboSelect.value === "Other") {
        comboSelect.style.display = "none";
        comboInput.style.display = "block";
      } else {
        comboInput.style.display = "none";
      }
    }
  </script>
</body>
