<% layout("/layouts/biolerplate") %>
<body>

    <!-- navbar -->
    <div class="nav-container sticky-top">
        <div class="flex-div left-side-div">
          <a href="/loginHomepage" style="color:white;"><span class="material-symbols-outlined" style="">Home</span></a>
       </div>

       <div class="flex-div middle-side-div">

         <!-- show only when screen size is <=770px -->
        <div class="hamberger-container" style="visibility:hidden;">
          <button class="hamberger-btn" style="background: none; border:none; color:white;";>
            <span class="material-symbols-outlined hamberger-icon" style="padding:4px; font-size:2rem; margin-right: 2rem;">
              menu
            </span>
            <span class="material-symbols-outlined position-absolute cross-icon" style="top:20%; left:3% ;font-size:30px; visibility:hidden;">
              close
            </span>
          </button>

          <div class="position-absolute hamberger-content" style="visibility:hidden; min-width:20%; position:relative; left:-200px; ">             
            <div class=" p-3">

              <form action="/loginHomepage" method="get" >
                <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Home</button>             
              </form> 

              <form action="/loginHomepage/account">
                <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Account</button>
             </form>         
            
              
             <!-- <form action="/homepage/signUp/orders">
              <button class="orders m-1" style="width:100%; border:none; background-color: transparent;">Your Orders</button>
            </form>            

            <form action="/homepage/signUp/cart" method="get" >
              <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Cart</button>             
            </form> 

          <form  onsubmit="handleLogout(event)">
            <button class="log-out m-1" style="width:100%; border:none; background-color: transparent; ">Logout</button>
         </form>   -->

            </div>                
          </div>
          
       </div>
            
            <form action="/homepage/signUp/searchResult" method="post">
              <div class="flex-div input-box">
                <select name="selectedCategory" id="combo-select" onchange="toggleInputField()">
                  <option value="">---Search---</option>
                  <option value="Mobiles">Mobiles</option>
                  <option value="Laptops">Laptops</option>
                  <option value="Earbuds">Earbuds</option>
                  <option value="Cables">Cables</option>
                  <option value="Neckbands">Neckbands</option>
                  <option value="Watches">Watches</option>
                  <option value="Mouses">Mouses</option>
                  <option value="Keyboards">Keyboards</option>
                  <option value="Monitors">Monitors</option>
                  <option value="Other">Other</option>
                  
               </select>
               <input type="text" name="customCategory" placeholder="Type Model..." id="combo-input" style="display:none;">
               
              <button class="btn btn-danger search-btn" >Search</button>
             </div>
            </form>
        </div>

        <!-- show only when screen size is <=770px -->
        <div style="position:absolute; left:90%; display: none;" class="small-screen-cart">
          <form action="/homepage/signUp/cart" method="get" >
            <button class="cart-btn" style="margin-right:1rem;"><span class="material-symbols-outlined cart" style="margin-left:0rem; color:white;">shopping_cart</span></button>
            <% if(cart){%>
              <div class="show-cart-num" style="position:absolute; top:-11px; "><span ><%=cart%></span></div>
            <%}%>
          </form>
        </div> 
        <!-- -->

        <div class="flex-div right-side-div">
             

              <form action="/loginHomepage/account">
                 <button style="border:none; background-color: transparent; color:white; margin-right:2rem; position:relative; top:5px">
                  <i class="fa-regular fa-user" style="font-size:22px;"></i>
                </button>
              </form>

              
              <form action="/homepage/signUp/cart" method="get" >
                  <button class="cart-btn" style="margin-right:1rem;"><span class="material-symbols-outlined cart" style="margin-left:0rem; color:white; position:relative; top:5px; ">shopping_cart</span></button>
                  <% if(cart){%>
                    <div class="show-cart-num"><%=cart%></div>
                  <%}%>
              </form>
        </div>
      </div>

    <!-- confirm buy info -->
    <div style=" margin:2rem auto; padding:1rem; max-width:500px;  background-color: rgb(247, 242, 242);">

       <div style="background-color: rgb(238, 233, 233); padding:1rem; margin-bottom:1rem;">

           <h5>Order Summary</h5>

           <div style="display: flex; justify-content: space-between; margin-bottom:0;">
              <p style="margin-bottom:0;">Product</p>
              <p style="margin-bottom:0;"><%=item.description%></p>
           </div>

           <div style="display: flex; justify-content: space-between; margin-bottom:0;">
                <p style="margin-bottom:0;">Price</p>
                <p style="margin-bottom:0;"><%=item.price%> &#8377;</p>
           </div>

           <div style="display: flex; justify-content: space-between; margin-bottom:0;">
                <p style="margin-bottom:0;">Shipping</p>
                <p style="margin-bottom:0;">0 &#8377;</p>
           </div>

           <div style="display: flex; justify-content: space-between; margin-bottom:0;">
              <p style="margin-bottom:0;">Tax</p>
              <p style="margin-bottom:0;" >0 &#8377;</p>
           </div>
           <hr>
            <div style="display: flex; justify-content: space-between; margin-bottom:0;">
               <p style="font-weight: bold; margin-bottom:0;">Total</p>
               <p style="font-weight: bold; margin-bottom:0;"><%=item.price%> &#8377;</p>
            </div>
       </div>

       <b>Payment Method</b>

       <form action="/homepage/signUp/<%=item._id%>/buy" method="post" onsubmit="handleOrder(event)">
        <div style="margin-top:1rem;">

            <div style="border:1px solid grey; margin-bottom:1rem; padding:1rem; border-radius:10px;">
              <input type="radio" name="paymentMethod" id="cash" value="COD" checked>
              <label for="cash">Cash On Delivery</label>
            </div>
           
            <div style="border:1px solid grey; margin-bottom:1rem; padding:1rem; border-radius:10px;">
              <input type="radio" name="paymentMethod" id="upi" value="UPI" >
              <label for="upi">UPI</label>
            </div>     
           
            <div style="display:flex;justify-content: space-between;">
               
                    <select name="quantity" id="" style="padding:0.2rem 1.3rem; border-radius:8px;">
                      <option value="1">Quantity:1</option>
                       <option value="2">Quantity:2</option>
                       <option value="3">Quantity:3</option>
                       <option value="4">Quantity:4</option>
                    </select>

                <button type="submit" class="confirm-order-btn"  style=" padding:0.3rem 3rem; background-color: #2563EB; color:white; border:1px solid grey; border-radius:10px;">Confirm Purchase</button>
            </div>
        </div>
       </form>
       
        <!-- <form action="/homepage/signUp/<%=item._id%>/buy" method="get">
            <button class="btn btn-success">Confirm Buy</button>
        </form> -->
    </div>

    <script>
        
    // hamberger-btn
    const hBtn = document.querySelector(".hamberger-btn");
    
    const hContent = document.querySelector(".hamberger-content");
    const crossIcon = document.querySelector(".cross-icon");
    const hambergerIcon = document.querySelector(".hamberger-icon");

    hBtn.addEventListener("click", () => {
      if (hContent.style.visibility === "hidden") {
        crossIcon.style.visibility = "visible";
        hambergerIcon.style.visibility = "hidden";
        hContent.style.visibility = "visible";
        hContent.style.left = "0px";
        // hContent.style.opacity=1;
      } else {
        crossIcon.style.visibility = "hidden";
        hambergerIcon.style.visibility = "visible";
        hContent.style.left = "-200px";
        hContent.style.visibility = "hidden";
      }
    });

    // combo search functionality
    function toggleInputField() {
      const comboSelect = document.querySelector("#combo-select");
      const comboInput = document.querySelector("#combo-input");

      if (comboSelect.value === "Other") {
        comboSelect.style.display = "none";
        comboInput.style.display = "block";
      } else {
        comboInput.style.display = "none";
      }
    }
     const handleOrder=(event)=>{
            event.preventDefault();
            console.log(event);
            event.target.submit();
        }
        const handleCancel=()=>{
             console.log("cancel button is clicked");
             window.history.back();
             window.history.go(-1);
        }
    </script>
     
</body>