<% layout("/layouts/biolerplate") %>
<body>
    
        <!-- navbar -->
        <div class="nav-container sticky-top">
          <div class="flex-div left-side-div">
            <a href="/loginHomepage" style="color:white;"><span class="material-symbols-outlined" style="">Home</span></a>
         </div>

         <div class="flex-div middle-side-div">

           <!-- show only when screen size is <=770px -->
          <div class="hamberger-container" style="visibility:hidden;">
            <button class="hamberger-btn" style="background: none; border:none; color:white;";>
              <span class="material-symbols-outlined hamberger-icon" style="padding:4px; font-size:2rem; margin-right: 2rem;">
                menu
              </span>
              <span class="material-symbols-outlined position-absolute cross-icon" style="top:20%; left:3% ;font-size:30px; visibility:hidden;">
                close
              </span>
            </button>

            <div class="position-absolute hamberger-content" style="visibility:hidden; min-width:20%; position:relative; left:-200px; ">             
              <div class=" p-3">

                <form action="/loginHomepage" method="get" >
                  <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Home</button>             
                </form> 

                <form action="/loginHomepage/account">
                  <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Account</button>
               </form>         
              
                
               <!-- <form action="/homepage/signUp/orders">
                <button class="orders m-1" style="width:100%; border:none; background-color: transparent;">Your Orders</button>
              </form>            
  
              <form action="/homepage/signUp/cart" method="get" >
                <button class="carts m-1" style="width:100%; border:none; background-color: transparent; ">Cart</button>             
              </form> 

            <form  onsubmit="handleLogout(event)">
              <button class="log-out m-1" style="width:100%; border:none; background-color: transparent; ">Logout</button>
           </form>   -->

              </div>                
            </div>
            
         </div>
              
              <form action="/homepage/signUp/searchResult" method="post">
                <div class="flex-div input-box">
                  <select name="selectedCategory" id="combo-select" onchange="toggleInputField()">
                    <option value="">---Search---</option>
                    <option value="Mobiles">Mobiles</option>
                    <option value="Laptops">Laptops</option>
                    <option value="Earbuds">Earbuds</option>
                    <option value="Cables">Cables</option>
                    <option value="Neckbands">Neckbands</option>
                    <option value="Watches">Watches</option>
                    <option value="Mouses">Mouses</option>
                    <option value="Keyboards">Keyboards</option>
                    <option value="Monitors">Monitors</option>
                    <option value="Other">Other</option>
                    
                 </select>
                 <input type="text" name="customCategory" placeholder="Type Model..." id="combo-input" style="display:none;">
                 
                <button class="btn btn-danger search-btn" >Search</button>
               </div>
              </form>
          </div>

          <!-- show only when screen size is <=770px -->
          <div style="position:absolute; left:90%; display: none;" class="small-screen-cart">
            <form action="/homepage/signUp/cart" method="get" >
              <button class="cart-btn" style="margin-right:1rem;"><span class="material-symbols-outlined cart" style="margin-left:0rem; color:white;">shopping_cart</span></button>
              <% if(cart){%>
                <div class="show-cart-num" style="position:absolute; top:-11px; "><span ><%=cart%></span></div>
              <%}%>
            </form>
          </div> 
          <!-- -->

          <div class="flex-div right-side-div">
                <!-- <form  onsubmit="handleLogout(event)">
                     <button  class="btn btn-success login-btn">Logout</button>
                </form> -->

                <form action="/loginHomepage/account">
                   <button style="border:none; background-color: transparent; color:white; margin-right:2rem; position:relative; top:5px">
                    <i class="fa-regular fa-user" style="font-size:22px;"></i>
                  </button>
                </form>

                <!-- <form action="/homepage/signUp/orders">
                      <button class="btn btn-success your-orders-btn">Your Orders<span class="material-symbols-outlined orders-icon" style="margin-top:-1rem;position:relative;top:6px;left:3px;">orders</span></button>
                </form> -->

                <form action="/homepage/signUp/cart" method="get" >
                    <button class="cart-btn" style="margin-right:1rem;"><span class="material-symbols-outlined cart" style="margin-left:0rem; color:white; position:relative; top:5px; ">shopping_cart</span></button>
                    <% if(cart){%>
                      <div class="show-cart-num"><%=cart%></div>
                    <%}%>
                </form>
          </div>
        </div>

          <!-- slider -->
          <div class="slide-container">
            <img src="https://plus.unsplash.com/premium_photo-1680985551009-05107cd2752c?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="slide" >
            <img src="https://gizmore.in/cdn/shop/products/SMWGHPWYHCZWASZW_0.jpg?v=1671441749&width=1080"  style="object-fit:contain" alt="" class="slide">
            <img src="https://m.media-amazon.com/images/I/714mr6GxecL.jpg" style="object-fit:contain" alt="" class="slide">
            <img src="https://www.pcworld.com/wp-content/uploads/2023/10/cpu-hub-100758206-orig.jpg?quality=50&strip=all" alt="" class="slide">
            <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/19957602/2022/12/23/5cdba1af-3409-488b-98ae-0bbb0d8594fc1671768370314-OnePlus-Unisex-Headphones-991671768370140-3.jpg" style="object-fit:contain" alt="" class="slide">
            <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2018/08/best-mouse-keyboard-combos.jpg" alt="" class="slide">
            <img src="https://hips.hearstapps.com/hmg-prod/images/best-over-ear-headphones-1527009080.jpg" alt="" class="slide">
      
            <span class="material-symbols-outlined prev">arrow_back_ios</span>
            <span class="material-symbols-outlined next">arrow_forward_ios</span>
        </div>

        <!-- all products -->
        <!-- <h2 style="margin-left:2rem;">All Items</h2>
        <div class="card-container">
           <% for(item of allItem){%>
         
          <div class="card">
                <a href="/homepage/<%=item.id%>/loginShowInfo"><img src="<%=item.image%>" class="card-img-top" alt="..." style="height:6rem; width:50%;"></a>
                <div class="card-body text-center">
                  <h5 class="card-title"><%=item.title%></h5>
                  <h6 class="cad-title">&#8377;<%=item.price.toLocaleString("en-IN")%></h6>
                  <form action="/homepage/signUp/<%=item._id%>/cart" method="post">
                    <button  class=" add-to-cart-btn" style="background-color: rgb(172, 36, 221); color:white;">Add to Cart</button>
                    
                 </form>
                </div>
          </div>
        
        <%}%>
      </div> -->

      <p style="margin-left:1rem; font-size: 20px; font-weight: bold;">Top Deals</p>

  
  <div class="top-deals-container card-container" style="margin-bottom:2rem;">

    <!-- Mobile -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">
        
          <input
            type="image"
            class="card-img-top"            
            style="height: 10rem;"
            src="https://media.licdn.com/dms/image/v2/D4D12AQG0NMBwOtr-IA/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1712297539871?e=2147483647&v=beta&t=E-ccKcy0Sr4Nz5NqcEM0sW70Pc6w-tB1_PucQjjN3OM"
            alt="img can't loaded"
            />
          <input type="hidden" name="type" value="Mobiles">
          
       
      </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Mobiles</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 6000 &#8377;</p>
    </div>

     <!-- Laptops -->
     <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">
        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr9wqEqAspFJtGy1WeGgoDr7xeOtbutlctqg&s"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Laptops">
        
     
    </form>
      </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Laptops</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 22000 &#8377;</p>
    </div>

    <!-- Earbuds  -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://i5.walmartimages.com/seo/iHip-Mini-SoundPods-True-Wireless-Earbuds_471c6118-fdc2-451e-8ffa-0d26da6bfd89.76d14900092e14dd9ba94c8ce17bccc3.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
          alt="img can't loaded"
          />
        <input type="hidden" name="type" value="Earbuds">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Earbuds & Earphones</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 600 &#8377;</p>
    </div>

    <!-- Cables -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://www.shutterstock.com/image-vector/socket-usb-plug-in-typec-600nw-1589223730.jpg"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Cables">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Cables</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 250 &#8377;</p>
    </div>

    <!--Neckbands  -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://p.globalsources.com/IMAGES/PDT/B1199981724/Bluetooth-Earphone.png"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Neckbands">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Neckbands</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 700 &#8377;</p>
    </div>

    <!-- Watches -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://m.media-amazon.com/images/I/51Pwv-iqM7L._AC_UF1000,1000_QL80_.jpg"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Watches">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Watches</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 600 &#8377;</p>
    </div>

    <!--Mouse  -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSUk3AtPpfqTgERcYjRui9zw98BdqnEEuD8Q&s"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Mouses">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Mouses</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 250 &#8377;</p>
    </div>

    <!-- Keyboards -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://plus.unsplash.com/premium_photo-1664194583917-b0ba07c4ce2a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8a2V5Ym9hcmR8ZW58MHx8MHx8fDA%3D"
          alt="img can't loaded"
          />
        <input type="hidden" name="type" value="Keyboards">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">keyboards</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 350 &#8377;</p>
    </div>
     
    <!-- Monitors -->
  <div class="card">
    <form action="/loginHomepage/topDeals/Explore" method="post">        
      <input
        type="image"
        class="card-img-top"            
        style="height: 10rem;"
        src="https://cdn.mos.cms.futurecdn.net/cgUGYddWT5Birdwnj26DNF.jpg"
        alt="img can't loaded"
      />
      <input type="hidden" name="type" value="Monitors">  
   </form>
    <div class="rating-card">
      <div class="stars">
        <span class="star star1" data-value="1">&#9733;</span>
        <span class="star star2" data-value="2">&#9733;</span>
        <span class="star star3" data-value="3">&#9733;</span>
        <span class="star star4" data-value="4">&#9733;</span>
        <span class="star star5" data-value="5">&#9733;</span>
      </div>
      
    </div>
    <p class="card-title" style="margin-left:1rem;">Monitors*</p>
    <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 7500 &#8377;</p>
  </div>

    <!-- Printers -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://www.shutterstock.com/image-photo/multi-function-printer-isolated-against-600nw-72097618.jpg"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Printers">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Printers</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 4500 &#8377;</p>
    </div>

    <!-- Telivisions -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://m.media-amazon.com/images/I/71mjmBA235L._AC_UF1000,1000_QL80_.jpg"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Telivisions">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Telivisions</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 8000 &#8377;</p>
    </div>

     <!-- Tablets -->
     <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://d.ibtimes.co.uk/en/full/1420622/google-nexus-9.jpg?w=731&f=5ed6856d651116d3475a6d9cb8815346"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Tablets">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Tablets</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 8000 &#8377;</p>
    </div>

    <!-- Cameras -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://southernhospitalityblog.com/camera-decision/camera-front-angled/"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Cameras">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Cameras</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 44000 &#8377;</p>
    </div>

    <!-- Projectors -->
    <div class="card">
      <form action="/loginHomepage/topDeals/Explore" method="post">        
        <input
          type="image"
          class="card-img-top"            
          style="height: 10rem;"
          src="https://techterms.com/img/lg/projector_1345.jpg"
          alt="img can't loaded"
        />
        <input type="hidden" name="type" value="Projectors">  
     </form>
      <div class="rating-card">
        <div class="stars">
          <span class="star star1" data-value="1">&#9733;</span>
          <span class="star star2" data-value="2">&#9733;</span>
          <span class="star star3" data-value="3">&#9733;</span>
          <span class="star star4" data-value="4">&#9733;</span>
          <span class="star star5" data-value="5">&#9733;</span>
        </div>
        
      </div>
      <p class="card-title" style="margin-left:1rem;">Projectors</p>
      <p class="card-title" style="margin-left:1rem; font-weight:bold;">From 44000 &#8377;</p>
    </div>

  </div>

      <!-- footer -->
      <footer>
        <div class="footer-info">
            <div class="personal-detail">
              <div class="icons" style="margin-left:3.5rem;">
               <i class="fa-brands fa-square-facebook"></i>
               <i class="fa-brands fa-instagram"></i>
               <i class="fa-brands fa-linkedin"></i>
            </div>
               <p class="info">
                Deleveloper Name: Suresh Singh<br>
                Email: kumarsuresh8403@gmail.com<br>
              </p>
               
          </div>
        </div>
    </footer>
      <script>
          // const handleLogout=(event)=>{
          //    event.preventDefault();
             
          //    history.pushState(null,null,"/homepage");
          //    history.back();
          //    history.forward();
          //    window.location.href="/homepage";
          // }
            //  history.pushState(null,null,"/homepage");
            //  history.back();
            //  history.forward();
      </script>
</body>
