<% layout("/layouts/biolerplate") %>
<body>
  <!-- navbar -->
  <!-- navbar -->
  <div class="nav-container sticky-top">
    <div class="flex-div first-div">
      <a href="/" style="color: white"
        ><span class="material-symbols-outlined">Home</span></a
      >
    </div>

    <div class="flex-div second-div">
      <!-- show only when screen size is <=770px -->
      <div class="hamberger-container" style="visibility: hidden">
        <button
          class="hamberger-btn"
          style="background: none; border: none; color: white"
          ;
        >
          <span
            class="material-symbols-outlined hamberger-icon"
            style="padding: 4px; font-size: 2rem; margin-right: 2rem"
          >
            menu
          </span>
          <span
            class="material-symbols-outlined position-absolute cross-icon"
            style="top: 20%; left: 3%; font-size: 30px; visibility: hidden"
          >
            close
          </span>
        </button>

        <div
          class="position-absolute hamberger-content"
          style="
            visibility: hidden;
            min-width: 20%;
            position: relative;
            left: -200px;
          "
        >
          <div class="p-3">
            <form action="/homepage/login">
              <button
                class="login m-1"
                style="width: 100%; border: none; background-color: transparent"
              >
                login
              </button>
            </form>

            <form action="/homepage/signup">
              <button
                class="signUp m-1"
                style="width: 100%; border: none; background-color: transparent"
              >
                SignUp
              </button>
            </form>

            <form action="/admin">
              <button
                class="admin m-1"
                style="width: 100%; border: none; background-color: transparent"
              >
                Admin
              </button>
            </form>
          </div>
        </div>
      </div>

      <form action="/homepage/searchResult" method="post">
        <div class="flex-div input-box">
          <select
            name="selectedCategory"
            id="combo-select"
            onchange="toggleInputField()"
          >
            <option value="">---Search---</option>
            <option value="Mobiles">Mobiles</option>
            <option value="Laptops">Laptops</option>
            <option value="Earbuds">Earbuds</option>
            <option value="Cables">Cables</option>
            <option value="Neckbands">Neckbands</option>
            <option value="Watches">Watches</option>
            <option value="Mouses">Mouses</option>
            <option value="Keyboards">Keyboards</option>
            <option value="Monitors">Monitors</option>
            <option value="Other">Other</option>
          </select>
          <input
            type="text"
            name="customCategory"
            placeholder="Type Model..."
            id="combo-input"
            style="display: none"
          />

          <button class="btn btn-danger search-btn">Search</button>
        </div>
      </form>
    </div>

    <!-- show cart only when screen size is <=770px -->
    <button
      style="position: absolute; left: 90%; display: none"
      class="cart-btn small-screen-cart"
      style="margin-right: 1rem"
    >
      <span
        class="material-symbols-outlined cart"
        style="margin-left: 0rem; color: white"
        >shopping_cart</span
      >
    </button>

    <!-- show search icon  when screen size is  <=450px  -->

    <div class="flex-div third-div">
      <form action="/homepage/login">
        <button class="btn btn-success login-btn">login</button>
      </form>
      <form action="/homepage/signup">
        <button class="btn btn-dark signUp-btn">SignUp</button>
      </form>
      <form action="/homepage/login" method="get">
        <button
          style="position: absolute; left: 98%; top: 30%"
          class="cart-btn small-screen-cart"
          style="margin-right: 1rem"
        >
          <span
            class="material-symbols-outlined cart"
            style="margin-left: 0rem; color: white"
            >shopping_cart</span
          >
        </button>
      </form>

      <!-- for small screen sizes -->
    </div>
  </div>

  <!-- all products -->
  <h4 style="margin-left: 2rem; margin-top: 2rem">Result Found</h4>
 
    <% for(item of searchItem){%>

    <div class=" search-container mb-5 " style=" display: flex; flex-direction:row;  position:relative; align-content:space-between; height:150px" >
      <div class="m-2 search-container-first" >
        <a href="/homepage/<%=item._id%>/showInfo"
          ><img
            src="<%=item.image%>"
            class="card-img-top"
            alt="..."
            style="margin-top:50%;"
            width="60px"
            height="60px"
        /></a>
      </div>
      
      <div class="search-container-second" style="position:absolute; left:50%; margin-top:30px;">
        <ul>
          <li><h5 class="card-title"><%=item.title%></h5></li>
          <li>&#8377;<%=item.price.toLocaleString("en-IN")%></li>
          <li><%=item.description%></li>
        
        </ul>
        
       
        <a
          href="/homepage/signup"
          class=""
          style="background-color: rgb(172, 36, 221); color: white; padding:5px 10px; text-decoration: none; border-radius: 10px; margin-left:30px;"
          >Add to Cart</a
        >
        
      </div>
    </div>
    
    <%}%>
  
  <a href="/homepage" class="btn btn-success col-6 offset-3 mt-4"
    >Continue Shopping</a
  >
  <script>
    // hamberger-btn
    const hBtn = document.querySelector(".hamberger-btn");
    const hContent = document.querySelector(".hamberger-content");
    const crossIcon = document.querySelector(".cross-icon");
    const hambergerIcon = document.querySelector(".hamberger-icon");

    hBtn.addEventListener("click", () => {
      if (hContent.style.visibility === "hidden") {
        crossIcon.style.visibility = "visible";
        hambergerIcon.style.visibility = "hidden";
        hContent.style.visibility = "visible";
        hContent.style.left = "0px";
        // hContent.style.opacity=1;
      } else {
        crossIcon.style.visibility = "hidden";
        hambergerIcon.style.visibility = "visible";
        hContent.style.left = "-200px";
        hContent.style.visibility = "hidden";
      }
    });

    // combo search functionality
    function toggleInputField() {
      const comboSelect = document.querySelector("#combo-select");
      const comboInput = document.querySelector("#combo-input");

      if (comboSelect.value === "Other") {
        comboSelect.style.display = "none";
        comboInput.style.display = "block";
      } else {
        comboInput.style.display = "none";
      }
    }
  </script>
</body>
